<h4>All Missions</h4>
<table class="mdl-data-table mdl-data-table__cell--non-numeric jcs-centered-table">
  <thead>
    <tr>
      <th>Mission Name</th>
    </tr>
  </thead>
  <tbody>{{#each missions}}
    <tr>
      <td class="mdl-data-table__cell--non-numeric">{{this}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<br><h4>In Cycle</h4>

<table class="mdl-data-table mdl-data-table__cell--non-numeric jcs-centered-table">
  <thead>
    <tr>
      <th>Mission Name</th>
      <th>Difficulty</th>
    </tr>
  </thead>
  <tbody>{{#each inCycle}}
    <tr>
      <td class="mdl-data-table__cell--non-numeric">{{this}}</td><td><button id="{{@index}}">Remove From Cycle</button></td>
    </tr>
    <script>
  

$('#{{@index}}').click(function(){
    console.log('{{this}} clicked');
    $.ajax({url: 'test1{{this}}', success:function(res){
        console.log('server response is', res);
    }});
});
</script>
    {{/each}}
  </tbody>
</table>